[submodule "zsh/mods/completion/external"]
	path = zsh/mods/completion/external
	url = https://github.com/zsh-users/zsh-completions
[submodule "zsh/mods/history_substring_search/external"]
	path = zsh/mods/history_substring_search/external
	url = https://github.com/zsh-users/zsh-history-substring-search
[submodule "zsh/mods/syntax_highlighting/external"]
	path = zsh/mods/syntax_highlighting/external
	url = https://github.com/zsh-users/zsh-syntax-highlighting
