# {{{ File header. #############################################################
#                                                                              #
# File informations:                                                           #
# - Name:    portage/package.keywords/temporary.tt                             #
# - Summary: Temporary package keywords. Tipycally these packages should       #
#            be removed as soon as possible. There are two main use-cases:     #
#            1. A package should be installed but it has a dependency not      #
#               stable. In this case the dependency should be included in this #
#               file (in the right section). When that dependency package has  #
#               an available stable version satisfying the dependendants, then #
#               it can (and it should!) be removed from this file asap.        #
#            2. The user wants to install a package, possibly a stable         #
#               version, but there isn't a stable version yet for that         #
#               package. In this case, the package should be specified in this #
#               file (in the right section).                                   #
# - Authors:                                                                   #
#   - Alessandro Molari <molari.alessandro@gmail.com> (alem0lars)              #
#                                                                              #
# Project informations:                                                        #
#   - Homepage:        https://github.com/alem0lars/configs                    #
#   - Getting started: see README.md in the project root folder                #
#                                                                              #
# License: Apache v2.0 (see below)                                             #
#                                                                              #
################################################################################
#                                                                              #
# Licensed to the Apache Software Foundation (ASF) under one more contributor  #
# license agreements.  See the NOTICE file distributed with this work for      #
# additional information regarding copyright ownership. The ASF licenses this  #
# file to you under the Apache License, Version 2.0 (the "License"); you may   #
# not use this file except in compliance with the License.                     #
# You may obtain a copy of the License at                                      #
#                                                                              #
#   http://www.apache.org/licenses/LICENSE-2.0                                 #
#                                                                              #
# Unless required by applicable law or agreed to in writing, software          #
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT    #
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.             #
# See the License for the specific language governing permissions and          #
# limitations under the License.                                               #
#                                                                              #
# }}} ##########################################################################


# {{{ Dependencies of permanent packages.

# Needed by `app-portage/elogv`.
dev-python/pyliblzma ~amd64

# Needed by `dev-python/google-api-python-client`.
dev-python/oauth2client ~amd64
dev-python/httplib2 ~amd64

# Needed by `dev-java/ant`.
dev-java/slf4j-nop ~amd64

# Needed by `x11-wm/bspwm`.
x11-misc/sxhkd ~amd64

# Needed by `dev-util/radare2`.
dev-util/capstone ~amd64

# Needed by `media-gfx/blender`.
=media-video/ffmpeg-2.2.10 ~amd64
=sci-libs/ldl-2.1.0 ~amd64
=media-libs/opencollada-0_p864-r1 ~amd64
=sci-libs/suitesparseconfig-4.2.1 ~amd64

# Needed by `www-client/firefox`.
=x11-libs/libdrm-2.4.56 ~amd64
=media-libs/mesa-10.3.0 ~amd64
=dev-libs/nss-3.19-r1 ~amd64

# Needed by `net-wireless/gnuradio`.
=net-wireless/uhd-3.8.2 ~amd64
=net-libs/cppzmq-0_pre150606 ~amd64

# Needed by `dev-ruby/net-ssh`
=virtual/ruby-ssl-7 ~amd64

# Needed by `dev-python/ptpython`
=dev-python/prompt_toolkit-0.45 ~amd64

# Needed by `dev-ruby/bundler`
=app-text/ronn-0.7.3-r3 ~amd64

<% if has_feature? :scala %>
# Needed by `dev-lang/scala`.
=dev-java/hawtjni-runtime-1.8 ~amd64
<% end %>

<% if has_feature? :python %>
# Needed by `dev-python/ipython`.
=dev-python/oct2py-1.3.0-r1 ~amd64
=dev-python/sphinx-bootstrap-theme-0.4.2 ~amd64
=dev-python/matplotlib-1.4.2 ~amd64
=dev-python/pymongo-2.7.2 ~amd64
=sci-libs/scipy-0.14.0-r1 ~amd64
=dev-python/pytz-2014.9 ~amd64
=dev-python/pyzmq-14.4.1 ~amd64

# Needed by `dev-python/sympy.
=dev-python/mpmath-0.19 ~amd64
<% end %>

<% if has_feature? :zathura %>
# Needed by `app-text/zathura`.
app-text/mupdf ~amd64
dev-libs/girara ~amd64
<% end %>

<% if has_feature?(:turses) || has_feature?(:cli_centric) %>
# Needed by `net-im/turses`.
=dev-python/tweepy-2.3 ~amd64
<% end %>

# Needed by `www-client/chromium`.
media-libs/libvpx ~amd64

# Needed by `media-gfx/gimp`.
media-video/ffmpeg ~amd64

# }}}

# {{{ Not yet stable.

dev-lang/julia ~amd64
media-fonts/pragmatapro ~amd64
app-portage/euscan ~amd64
app-misc/tmsu ~amd64
app-misc/vit ~amd64
dev-vcs/git-big-picture ~amd64
dev-vcs/gitstats ~amd64
dev-vcs/git-crypt ~amd64
dev-vcs/git-mantle ~amd64
dev-vcs/git-imerge ~amd64
app-shells/fasd ~amd64
dev-db/sqlmap ~amd64
dev-util/complexity ~amd64
dev-util/shellcheck ~amd64
media-plugins/gimp-lensfun ~amd64
media-plugins/gimp-gmic ~amd64
media-plugins/gimp-resynthesizer ~amd64
sci-electronics/ghdl ~amd64
net-misc/httpie ~amd64
app-admin/lnav ~amd64
www-servers/pshs ~amd64
sys-apps/progress ~amd64
x11-plugins/imgur-integration ~amd64
app-crypt/hashcat-bin ~amd64
media-video/handbrake ~amd64
sci-physics/root ~amd64
net-analyzer/tsung ~amd64
media-gfx/plantuml ~amd64
dev-util/android-sdk-update-manager ~amd64
net-wireless/gnuradio ~amd64
dev-python/ptpython ~amd64
dev-util/eclipse-sdk-bin ~amd64
dev-util/idea-ultimate ~amd64
dev-util/protege ~amd64
dev-util/heroku-client ~amd64
app-text/translate-shell ~amd64
media-sound/spotify ~amd64
net-wireless/rtl-sdr ~amd64
net-wireless/gr-osmosdr ~amd64
app-misc/tmuxp ~amd64
media-gfx/pngquant ~amd64
app-forensics/scalpel ~amd64
sci-electronics/mplabx ~amd64
app-backup/obnam ~amd64
app-forensics/radamsa ~amd64
dev-lang/owl-lisp ~amd64

<% if has_feature? 'bspwm' %>
x11-wm/bspwm ~amd64
<% end %>

<% if has_feature? 'mega' %>
net-misc/megatools ~amd64
<% end %>

<% if has_feature? 'ruby' %>
dev-ruby/thor ~amd64
<% end %>

<% if has_feature? 'dracut' %>
sys-kernel/dracut ~amd64
<% end %>

<% if has_feature? 'zim' %>
x11-misc/zim ~amd64
<% end %>

<% if has_feature? 'gtk' %>
x11-themes/FlatStudio ~amd64
<% end %>

<% if has_feature? 'java' %>
dev-java/sbt ~amd64
dev-util/findbugs ~amd64
# `-r1` has patch applied for JDK1.8 compatibility.
# Remove as soon as a newer version is available.
dev-java/commons-collections ~amd64
<% end %>

# }}}

# {{{ Other.

# Command `bootctl` needs `>=sys-apps/systemd-220` but atm it's unstable.
sys-apps/systemd ~amd64

# `>=libgudev-130` because prior versions trigger `sys-apps/systemd` with
# `gudev` use flag which is unavailable with `>=sys-apps/systemd-220`.
virtual/libgudev ~amd64
dev-libs/libgudev ~amd64

# Needed by `gnuefi` use flag in `sys-apps/systemd`
sys-boot/gnu-efi ~amd64

# }}}

# {{{ Needed by `Not yet stable` packages.

# Needed by `sys-apps/systemd`.
sys-apps/hwids ~amd64

# Needed by `app-misc/tmsu`.
dev-lang/go-bootstrap ~amd64
dev-lang/go ~amd64

# Needed by `app-backup/obnam`.
dev-python/cliapp ~amd64
dev-python/larch ~amd64

# Needed by `dev-util/findbugs`.
dev-java/jformatstring ~amd64
dev-java/jcip-annotations ~amd64
dev-java/bcel ~amd64

# Needed by `sci-physics/root`.
app-doc/root-docs ~amd64
dev-lang/ocaml ~amd64
dev-ml/ocaml-ctypes ~amd64

# Needed by `dev-python/ptpython`.
dev-python/wcwidth ~amd64
dev-python/jedi ~amd64
dev-python/prompt_toolkit ~amd64

# Needed by `dev-util/idea-ultimate`.
=media-libs/libpng-1.6.18 ~amd64

# Needed by `app-misc/tmuxp`.
dev-python/kaptan ~amd64
dev-python/sphinx-argparse ~amd64

# Needed by `media-sound/spotify`.
dev-libs/libgcrypt ~amd64

# }}}

# {{{ We need >=2.3.0 for repos.conf feature, but it's not stable yet :(

app-portage/layman ~amd64
app-portage/g-sorcery ~amd64
dev-python/pyGPG ~amd64

# }}}
