app-emulation/virtualbox-bin PUEL

www-plugins/adobe-flash AdobeFlash-11.x

www-plugins/chrome-binary-plugins google-chrome
www-plugins/google-talkplugin Google-TOS

media-libs/fdk-aac FraunhoferFDK

sci-electronics/quartus-prime-lite Quartus-prime-megacore

<% if has_feature? 'java' %>
dev-java/oracle-jdk-bin Oracle-BCLA-JavaSE
<% end %>

<% if has_feature? 'teamviewer' %>
net-misc/teamviewer TeamViewer
<% end %>
