{
  "CantoCurses": {
    "tagorder": [
      "maintag:Reddit",
      "maintag:Slashdot"
    ]
  },
  "defaults": {
    "global_transform": "None",
    "keep_time": 86400,
    "keep_unread": false,
    "rate": 8
  },
  "feeds": [
    {
      "name": "Slashdot",
      "url": "http://rss.slashdot.org/slashdot/Slashdot"
    },
    {
      "name": "Reddit",
      "url": "http://reddit.com/.rss"
    }
  ]
}
